<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/"><img src="../../assets/INWARA-logo.png" style="width: 35vmin"></a>
  <div class="navbar-expand mx-auto pl-5">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/icodb">ICO DATABASES</a>
      <a class="nav-item nav-link" routerLink="/news">NEWS</a>
      <a class="nav-item nav-link" routerLink="/research">RESEARCH REPORT</a>
      <a class="nav-item nav-link" routerLink="/blog">BLOG</a>
      <a class="nav-item nav-link" *ngIf="!userIsAuthenticated; else loggedIn" routerLink="/auth">LOGIN</a>
      <ng-template #loggedIn>
        <a class="nav-item nav-link" (click)="onLogout()">LOGOUT</a>
      </ng-template>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
    </div>
  </div>
</nav>
