#blog{
  margin-top: 12vh;
  margin-bottom: 10vh;
}
#card-wrapper{
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 20vh;
}
.blog-heading{
  text-align: center;
  border: 2px solid #d56b00;
  /*border-radius: 5px;*/
  font-size: 14px;
  font-weight: bold;
  padding: 9px;
  text-transform: uppercase;
  color: #E16F00;
  margin-bottom: 8vh;
}
.carousel-item{
  width: 80%;
  margin:auto;
}
.carousel-item img{
  width: 80%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
