#blog{
  margin-top: 12vh;
  margin-bottom: 10vh;
}
#card-wrapper{
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 20vh;
}
.blog-heading{
  text-align: center;
  border: 2px solid #d56b00;
  /*border-radius: 5px;*/
  font-size: 14px;
  font-weight: bold;
  padding: 9px;
  text-transform: uppercase;
  color: #E16F00;
  margin-bottom: 8vh;
}
