<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">ABOUT ICO DATABASES</h1>
        <h3>InWara’s ICO database provides quantitative and qualitative data on more than 3000+ ICOs. Our suite of exciting products are designed to fulfill all your ICO investment data requirements in the most efficient and cost-effective way possible.
        </h3>
      </div>
    </div>
  </div>
</header>
<div id="quantity">
  <div class="row" id="counters">
    <div class="col-4">
      <h1><ng2-odometer [number]="number" [config]="{ }"></ng2-odometer>+</h1>

      <h4>ICO Data Analysis</h4>
    </div>
    <div class="col-4">
      <h1><ng2-odometer [number]="number2" [config]="{ }"></ng2-odometer>+</h1>
      <h4>Company Specific Publications</h4>
    </div>
    <div class="col-4">
      <h1><ng2-odometer [number]="number3" [config]="{ }"></ng2-odometer>+</h1>
      <h4>Management Profiles</h4>
    </div>
  </div>
</div>
<div id="products">
  <div id="moreproducts" class="offset-sm-2 col-sm-8">
    <h5>OUR PRODUCTS</h5>
    <div class="px-4">
      <div class="card-deck my-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/1.png" alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/2.png" alt="Card image cap">
        </div>
      </div>
      <div class="card-deck my-4">
        <div class="card">
          <img class="card-img-top" src="../../../assets/3.png" alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/4.png" alt="Card image cap">
        </div>

      </div>
    </div>
  </div>
</div>
<div id="icocontent">
  <div id="moreaboutus" class="offset-sm-2 col-sm-8">
    <h5>MORE ABOUT US</h5>
    <ul class="a">
      <li>Our ICO database is designed with the end-user in mind, and constantly improved by customer feedback. InWara's ICO database keeps you well informed about the latest trends in the cryptocurrency and blockchain space and saves you valuable time. </li>
      <li>Access our most trusted ICO database remotely with an online subscription, and download to PDF and Excel for reporting and qualitative analysis on ICOs.Our premium product range is also available by data feed, and is supported by our team of in- house research analysts, who are available to fulfil requests for additional data or analysis.</li>
    </ul>
  </div>
</div>


